* {
  box-sizing: border-box;
  margin: 0;
}
.navbar, .footer {
  font-family: 'Comme', sans-serif;
  background-color:#be9e44;
}

.navbar-brand {
  font-family: 'Marcellus', serif;
  }

.brandlogo {
  border: 2px;
  border-style: dotted;
  border-color: black;
  border-radius: 10px;
}

#logoList {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footerLogos {
  width: 50px;
  height: 50px;
}